/* ===========================================================
Grid
============================================================*/


.grid-container {
	padding-left: $base-padding;
	padding-right: $base-padding;
	margin-left: auto;
	margin-right: auto;
}
img {
	//width: 100%;
}

// Media Queries


@media ($mobile-min) and ($mobile-max)  {
	.grid-container > [class^="grid-"] {
		padding-top: $base-padding / 2;
		padding-bottom: $base-padding / 2;
	}
	.hide-mobile {
		display: none;
	}
}

@media ($tablet-min) {

	// Columns

	.grid-container > [class^="grid-"] {
		float: left;
		min-height: 1px;
		padding-left: $base-padding;
		padding-right: $base-padding;
		//margin-left: 2%;
	}
	.grid-container > [class^="grid-"]:first-child {
		margin-left: 0;
	}
	.grid-container > [class^="grid-"]:last-child {
		float: right;
	}

	// Columns are 65px wide, with 20px gutters

	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	.grid-container:after,
	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}
@media ($desktop-min) {
	.grid-container {
		max-width: $base-max-width;
	}
}