<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta name="viewport" content="width=device-width,,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"> -->

      <link rel="stylesheet" href="css/main.css">
      <title>Crunch Expense Form</title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
            
      <!-- Author James Baker Google+ Account -->
      <link rel="author"  href="https://plus.google.com/101974566721405999519?rel=author"/>
      
      <!-- <link rel="canonical" href="" /> -->
      <!-- Company icon -->
      <!-- <link rel="shortcut icon" href="img/jb_web.ico"> -->
      <!--  <link rel="apple-touch-icon" href="/custom_icon.png"/> -->
      <!-- <link rel="icon" type="image/png" href="http://example.com/myicon.png"> -->
    </head>
    <body>
      <header role="banner" id="user_info_area">
       <a href="https://github.com/JayboBaker/crunch_expense" title="Check out the code for this site on Github. There's a decent grunt build script worth checking out!" class="github-ribbon"><img src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
        <nav role="navigation">
          <a href="#" class="log_out_button">Log Out</a>
        </nav>
        <h1>Your Expenses</h1> 

          
      </header>
       <noscript>
        <div class="grid-container js-message">
          <div class="grid-12">
            <h4>This site works best with Javascript enabled.</h4>
            <p><a href="http://www.enable-javascript.com/" target="_blank">Instructions on "How to enable JavaScript in your web browser"</a>.</p>
            <br/>
            <p>or</p>
            <br/>
            <p><a href="http://browsehappy.com/" target="_blank">Somewhere to download the latest web browsers</a>.</p>
          </div>
        </div>
      </noscript>
